
    <div class="wraper-container">
      <div class="search-container">
          <mat-card >
              <mat-card-header>
                  <mat-card-title class="card_title">OPD Registration</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <mat-toolbar> Search  Patients</mat-toolbar>
                  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
                        
                      <div class="fieldsearch" fxFlex="70%">
                            <form [formGroup]="IDsearchForm" >
                          <div class="ID-search">
                              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" >
                                  
                                  <div fxFlex="15%">
                                    <p>ID Search</p>
                                   </div>
                                  <div fxFlex="33%">
                                   <input type="text" placeholder="Enter Patient ID" class="customforminput" formControlName="patientID"/>
                                   </div>
                                   <div fxFlex="33%">
                                     <p style="text-align:center">OR</p>
                                   </div>
                                   <div fxFlex="33%">
                                      <input type="text" placeholder="Enter Aadhar No" class="customforminput" formControlName="patientAadhar"/>
                                   </div>
                                
                              </div>
                          </div>
                        </form>
                          <mat-checkbox (change)="enableAdvanceSearch($event)" >Enable Advance Search</mat-checkbox>
                          <form [formGroup]="FieldsearchForm" >
                          <div class="Field-search margincontent" *ngIf="enableAdvancesearch">
                              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" >
                                  <div fxFlex="15%">
                                   Other Search
                                   </div>
                                  <div fxFlex="33%">
                                   <input type="text" placeholder="Enter Patient Name" class="customforminput" formControlName="patientNameCtrl" />
                                   </div>
                                  
                                   <div fxFlex="33%">
                                      <input type="text" placeholder="Date of Birth" class="customforminput" formControlName="patientDOBCtrl" />
                                   </div>
        
                                   <div fxFlex="33%">
                                      <input type="text" placeholder="Mobile Number" class="customforminput" formControlName="patientMobileCtrl" />
                                   </div>
        
                              </div>
                          </div>
                          </form>
                          
                          <div class="reg-action margincontent">
                              <button mat-raised-button color="primary" class="bttn-right" (click)="searchPatient()"><mat-icon>search</mat-icon> Search</button>
                              <button mat-raised-button color="warn" class="bttn-right">+ New Patient</button>
                          </div>
                          
                      </div><!--end of fieldsearch-->
        
                      <div class="biometricsearch" fxFlex="25%">
                          <img src="assets/fingerprint_scan.png" alt="image" class="biometric_img" >
                          <button mat-stroked-button color="primary" class="center-obj margincontent">Scan </button>
                      </div><!--end of biometric search-->
                  </div>


               

                  <!--Table List -->

                    <section class="margincontent" id="registrationTable">
                  
                        <div style="overflow-x:auto;">
                       
                      <table class="registraionTable">
                   
                          <tr class="table_head">
                            <td>Action</td>
                            <td>Patient ID</td>
                            <td>Name</td>
                            <td>DOB</td>
                            <td>Gender</td>
                            <td>Division</td>
                            <td>Challan</td>
                            <td>Line</td>
                            <td>Mobile No.</td>
                            <td>Aadhar No.</td>
                          </tr>
                 
                     
                          <tr *ngIf="enableregister">
                            <td><button class="customeBtn">Register</button></td>
                            <td>{{tblPatientID}}</td>
                            <td>{{tblPatientName}}</td>
                            <td>{{tblPatientDOB}}</td>
                            <td>{{tblPatientGender}}</td>
                            <td>{{tblPatientDivision}}</td>
                            <td>{{tblPatientChallan}}</td>
                            <td>{{tblPatientLine}}</td>
                            <td>{{tblPatientMbl}}</td>
                            <td>{{tblPatientAadhar}}</td>
                          </tr>
                        
                         
                       
                      </table>
                      
                      <app-todayspatientreglist></app-todayspatientreglist>
                      </div>


                    </section>


              </mat-card-content>
          </mat-card>

      </div><!--end of search container-->
    </div>
