.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-drawer {

  background-color: #f3f3f3;
  color: #000000e6;

}
.mat-toolbar.mat-primary {

//background: #489f0b;
color: #fff;
z-index:9;

}
.mat-drawer[_ngcontent-c1]{
background:#f7f9fc;
color: #fff;
}
.mat-nav-list .mat-list-item{
height: 36px;
letter-spacing: 1px;
font-size: 12px;

.mat-icon {

  font-size: 16px;
  height: 15px;
  width: 24px;

}
}
.mat-list-item-content{
padding: 0 7px;
}
