.patientregcard{
  width: 60%;
  float: left;
}
.biometricregcard{
  width: 30%;
  float: left;
}
#patientRegSearch{
  margin:2% 0;
}

.halfwidthInput{
  width:40%;
  margin-right:15px;
}
.patientRegFormCls{
  
}

.crow{
margin-top:-4%;
}
.cfinput{
margin-right:5px; 
}
.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
  font-size: 13px;
}
mat-card{
  z-index: -100;
}

table {
  width: 100%;
}


